/* General carousel adjustments */
.carousel .slider-wrapper.axis-horizontal .slider {
  display: flex;
  flex-direction: row; /* Default direction for larger screens */
}

.carousel .slide {
  display: flex;
  flex-direction: row; /* Display testimonials in row for each slide */
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Styling for individual testimonial slides */
.testimonial-chunk {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.testimonial-slide {
  flex: 0 1 30%; /* Adjust to fit up to 3 testimonials per row */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}


@media (max-width: 768px) {
  .testimonial-chunk {
    flex-direction: column;
  }

  .testimonial-slide {
    flex: 1 1 100%;
    margin: 10px 0;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.text {
  font-size: 48px;
  font-weight: 1000;
  text-align: center;
  color: black;
}

.text1 {
  font-size: 20px;
  font-weight: 700;
  color: black;
  text-align: center;
}

.text2 {
  font-size: 28px;
  font-weight: 1000;
  text-align: center;
  color: black;
}

.border-color {
  border-color: #000000;
}

.custom-margin-bottom {
  margin-bottom: 2rem; /* Adjust the value as needed */
}

.text-client-size {
  font-size: 24px;
  font-weight: 600;
}

.testimonial-title {
  font-size: 24px;
  font-weight: 600;
}

.border-input {
  border: 2px solid;
}

.custom-button {
  width: 150px;
}

.delete-bg {
  background-color: red;
}

.edit-bg {
  background-color: yellow;
}
